*{
	margin:0px;
	padding:0px;
}

header{
		background-color:#13803C;
}

h2{
	padding-top: 80px;
	text-align:left;
	color:#13803C;
	font-family:arial,garamond,helvetica;
}

h3{
	text-align:left;
	padding-top:15px;
	font-family:arial,garamond,helvetica;
}

p{
	padding-top:15px;
	font-family:arial,garamond,helvetica;
}

img{
	padding-top: 15px;
	padding-bottom: 20px;
}


li{
	margin-left: 1100px;
	font-family:sans-serif;
	color:white;
	padding:15px;
}

footer{
	background-color: #13803C;
	padding:30px;
	text-align:center;
	color:white;
}