html{
	background:url(../images/woodbackground.jpg);
	height:100%;
	width:100%;
	background-size: cover;
}

h1{
	font-family: sans-serif;
	text-decoration: underline;
	text-transform: uppercase;
	text-decoration-color: #000000;
}

body{
	margin: auto 0;
	display:inline;
}

.logo{
	display:inline;
	padding-bottom: 10px;
}

.logo img{
	float:center;
	margin:auto 0;
	height:100%;
	width:100%;
}

.left{
	float:left;
	margin:auto 0;
	width :706px;
	padding-left:50px;
}

.right{
	float:right;
	margin:auto 0;
	width:;
	padding-right:60px;
}

.left .featured{
	width:706px;

}

.filter{
	background-color:rgba(219,173,124,0.8);
	float:left;
	margin-left: 40px;
}

.video{
	float:right;
	margin:auto 0;
	width:;
	padding-right:400px;
}

.content img{
	padding:60px;

}

.content2{

}

.content2 p{
	font-family:sans-serif;
	font-size:12px;

}

.upcoming{
	background-color:rgba(219,173,124,0.8);
	display:block;
	float:left;
	width:706px;
	padding:0px 10px 0px 10px;
}

#media{
	background-color:rgba(219,173,124,0.8);
}


.container{

}

.events .container{
	background:url(../images/corkboard.jpg);
	background-repeat: repeat-y;
	background-repeat: repeat-x; 
	height:100%;
	width:100%;
	padding:0;
	border: 10px solid;
    border-radius:8px;
}

.

.events{

	display:inline;
	float:right;
	padding:0px 0px 0px 100px;
}


.events img{
	padding-left: 20px;
	height:50%;
	width:50%;
}


.events h1{
	text-decoration: underline;
}


header .menu{	
	background-color:rgba(219,173,124,0.8);
	background-size:cover;
}

header .menu ul{
	position: middle;
	display:inline;
	list-style-type:none;
	width:100px;
	padding:200px;
	height:20px;
    font-family:sans-serif;
    font-size:28px;
    font-weight:bold;
    text-transform:uppercase;
}

li{
	position:middle;
	display:inline;
	text-decoration-color:#8a2024;
	width:50px;
	padding:10px;
}

a:link{
	position:middle;
	display:inline;
	text-decoration:none;
	color:#8a2024;
}

a:visited{
	color:#8a2024;
}

footer h3{

}

.title{
	background-color:rgba(219,173,124,0.8);
	font-family: sans-serif;
}



div.img {
    margin:5px;
    border: 1px solid #000;
    float: left;
    width: 300px;
    height: 200px;
}

div.img:hover {
    border: 2px solid #fff;
}

div.img img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}













