html{
	padding:10px 50px 10px 50px;
}

header{
	display:block;
	background-color: #57463e;
	height:350px;
	width:100%;
}

header .wrapper .logo img{
	position:relative;
	float:center;
	max-width:100%;
	width:600px;
	margin-left:320px;
	margin-top:20px;
	padding:0;
}

*,body{
	font-family:arial, arial-black;
	font-weight:normal;
	margin:0px;
	padding:0px;
}

h1{
	font-family:arial;
	font-weight:bold;
}

h2{
	font-family:arial;
	font-weight:bold;
}

p{
	font-family:arial;
	font-weight: normal;
}

header .wrapper .menu ul{
	display:inline;
	list-style-type:none;
	width:100px;
	padding:0;
	height:16px;
    font-family:arial;
    font-size: 24px;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration-color:#a9be01;
    margin-left: 450px;
}

li{
	display:inline;
	text-decoration-color:#a9be01;
	width:50px;
}

a:link{
	display:inline;
	text-decoration:none;
	color:#a9be01;
}

body{
	background-color: #ffffff;
	height:1000px;

}

body .beer{
	float:center;
	align:center;
}

body .text{
	text-align:center;

}

footer{
	background-color: #57463e;
	font-family:arial;
	text-align: center;
	width:100%;
}

footer .left{
	position:relative;
	text-align:left;
}

footer .right{
	position:relative;
	text-align:center;
}




